name: Filter IPs by Submit Time

on:
  schedule:
    # 北京时间每天上午 10:00 (UTC 02:00) 自动运行
    - cron: '0 2 * * *'
  workflow_dispatch: # 允许手动运行

permissions:
  contents: write

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Run script
        run: python main.py

      - name: Commit and Push
        run: |
          git config --global user.email "gonggct111@gmail.com"
          git config --global user.name "GitHub Action"
          
          # 强制追踪文件
          git add ip.csv
          
          if git diff --staged --quiet; then
            echo "IP列表没有变化，跳过提交。"
          else
            echo "IP列表已更新，正在提交..."
            git commit -m "Update IP list (Time > 2 days): $(date +'%Y-%m-%d')"
            git push
          fi
